<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О проекте</title>
</head>
<body>
    <table>
        <th>
            <td>Параметр</td>
            <td>Описание</td>
        </th>
        <tr>
            <td>О приложении</td>
            <td>Список пожеланий к покупкам</td>
        </tr>
        <tr>
            <td>Автор</td>
            <td><b>Bishop</b></td>
        </tr>
        <tr>
            <td>Дата создания:</td>
            <td>08.09.2021</td>
        </tr>
    </table>
</body>
</html>